 .containerGeneral {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: start;
 }

  .containerMenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 9px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

 .logsScreen {

 }